.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.wrapper-content {
    width: auto;
    min-width: 400px;
    max-width: 300vh; /* 폼의 최대 너비를 지정 */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.home-wrapper-content{
    width: auto;
    min-width: 120vh; /* 폼의 최대 너비를 지정 */
    max-width: 500vh;
    height: auto;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}